table{
    border:1px solid;
    border-radius: round;
}

 td{
    
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 5px 30px;
    font-family: 'Courier New', Courier, monospace;
}

.texting{
    text-align: justify;
}

.hide-1{
    display:none;
}

.hide-2{
  display:none;
}

.hide-3{
  display:none;
}


/* flash card styles */
.cursive{
    font-family: cursive;
  }
  
  
  
  .form1{
    display:none;
    height: 100vh;
    
    background-color: aqua;
   
    
    
    width: 100%;
    cursor: pointer;
  
  }

  .form2{
    display:none;
    height: 100vh;
    
    background-color: aqua;
   
    
    
    width: 100%;
    cursor: pointer;
  
  }

  .form3{
    display:none;
    height: 100vh;
    
    background-color: aqua;
   
    
    
    width: 100%;
    cursor: pointer;
  
  }

 
  
 
  
  #height1{
    
    position: relative;
    cursor: pointer;
    border-style: none;
    
  }

  #rel{
    position: relative;
    
  }

  #pos{
    position: absolute;
    bottom:-10px;
    right:20px;
    background-color: blue;
    color: white;
  }

  #pos1{
    position: absolute;
    top:-20px;
    right:0px;
    background-color: aqua;
  }

  #pos2{
    position: absolute;
    top:-20px;
    right:0px;
    background-color: aqua;
  }

  #pos3{
    position: absolute;
    top:-20px;
    right:0px;
    background-color: aqua;
  }
  
 

  /* end flash card styles */

  #lettercolor{
    background-color: #e7d6c8;
  }

  .black{
    background-color: black;
    color: aliceblue;
    
  }

  .blackBorder{
    background-color: black;
    color: aliceblue;
    border: 1px solid white;
    
  }

  .normal{
    background-color: white;
    color: black;
  }

  .normalMode{
    background-color: white;
    color: black;
    border: 1px solid gray;
  }